@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root{
    --colorPrincipal: #CCC;
    --colorSecundario: #000;
    --colorPorDefectoPerfiles: #000;

    --colorConfiguracion: #000;
    --colorJugador1: #000;
    --colorJugador2: #000;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: var(--colorPrincipal);
    max-width: 375px;
    margin: 0 auto;
}

/* Header */

.tateti__header{
    position: relative;
    width: 100%;
    height: 15vh;
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
}

.tateti__cambio-de-tema, .tateti__musica{
    position: absolute;
    font-size: 5vh;
    margin: 10px;
    color: var(--colorSecundario);
}

.tateti__cambio-de-tema{
    left: 1%;
}

.tateti__musica{
    right: 1%;
}

.tateti__perfil-jugadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-size: 3vh;
}

.tateti__perfil-jugador{
    display: flex;
    align-items: center;
}

.tateti__perfil-jugador:first-child{
    color: var(--colorPorDefectoPerfiles);
}

.tateti__perfil-jugador:nth-child(2){
    color: var(--colorPorDefectoPerfiles);
}

.tateti__perfil-jugador p{
    font-size: 25px;
    margin: 0 10px;
}

.tateti__perfil-jugador ion-icon{
    margin: 0 5px;
}

/* Configurar Jugadores */

.tateti__configuracion-jugadores{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.tateti__contenedor-configuracion{
    position: relative;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--colorPrincipal);
    border-radius: 20px;
    border: 4px solid var(--colorPorDefectoPerfiles);
    max-width: 320px;
}

.tateti__configuracion-cerrar{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
    color: var(--colorPorDefectoPerfiles);
    cursor: pointer;
}

.tateti__contenedor-configuracion h2{
    color: var(--colorPorDefectoPerfiles);
}

.tateti__configuracion{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tateti__input-nombre{
    border: none;
    background-color: var(--colorPrincipal);
    border-bottom: 2px solid var(--colorPorDefectoPerfiles);
    color: var(--colorSecundario);
    font-size: 15px;
}

.tateti__ficha-color{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tateti__ficha-color select{
    background-color: var(--colorPrincipal);
    font-size: 20px;
    border: none;
    border-radius: 50%;
    color: var(--colorPorDefectoPerfiles);
    cursor: pointer;
}

.tateti__ficha-color label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--colorPorDefectoPerfiles);
    cursor: pointer;
}

.tateti__ficha-color label input{
    position: absolute;
    visibility: hidden;
}

.tateti__configuracion-ok{
    width: 15%;
    height: 15%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPorDefectoPerfiles);
    color: var(--colorPrincipal);
    cursor: pointer;
}

/* Main */

h1{
    text-align: center;
    font-family: 'Quicksand';
    margin-bottom: 15px;
    width: 100%;
    visibility: hidden;
    color: var(--colorSecundario);
    font-size: 6vh;
}

.tateti__main{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tateti__section-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tateti__tablero{
    position: relative;
    display: grid;
    grid-template-columns: 13.5vh 13.5vh 13.5vh;
    grid-template-rows: 13.5vh 13.5vh 13.5vh;
}

.tateti__espacio{
    position: relative;
    cursor: pointer;
}

.tateti__casilla{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    font-family: 'Nunito';
    font-weight: 900;
}

.tateti__espacio:nth-child(4)::before, .tateti__espacio:nth-child(7)::before{
    content: '';
    width: 300%;
    height: 6%;
    background-color: var(--colorSecundario);
    position: absolute;
    border-radius: 10px;
}

.tateti__espacio:nth-child(2)::before, .tateti__espacio:nth-child(3)::before{
    content: '';
    width: 6%;
    height: 300%;
    background-color: var(--colorSecundario);
    position: absolute;
    border-radius: 10px;
}

.tateti__jugador-1-fichas, .tateti__jugador-2-fichas{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Quicksand'; 
    margin: 10px;
    visibility: hidden;
}

.tateti__jugador-1-fichas{
    left: 1%;
    color: var(--colorJugador1);
}

.tateti__jugador-2-fichas{
    right: 1%;
    color: var(--colorJugador2);
}

.tateti__section-2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.tateti__herramientas{
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 8vh;
}

.tateti__herramientas ion-icon{
    cursor: pointer;
    color: var(--colorSecundario);
}

.tateti__herramientas ion-icon:nth-child(2){
    transform: rotateY(180deg);
}

.tateti__contenedor-modal-ganador{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.tateti__modal-ganador{
    width: 80%;
    height: 70%;
    border-radius: 20px;
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: column;
    transition: .5s;
    margin-top: 150vh;
    max-width: 375px;
}

.tateti__icono-ganador{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vh;
}

.tateti__icono-ganador ion-icon:nth-child(2){
    position: absolute;
    font-size: 7vh;
    margin-top: -4vh;
}

.tateti__texto-ganador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand';
}

.tateti__texto-ganador h3{
    text-align: center;
    margin: 4vh 0;
}

.tateti__texto-ganador h4{
    text-align: center;
    margin: 2vh 0;
}

.tateti__texto-ganador h5{
    text-align: center;
    font-size: 3vh;
    margin: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--colorSecundario);
}

/* Alerts */

.tateti__alerts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.tateti__alerts p{
    position: absolute;
    background-color: #ff8;
    font-family: 'Quicksand';
    font-size: 12px;
    top: 35px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 1px 10px;
    opacity: 0;
}

@keyframes alert{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes alert2{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* Footer */

.tateti__footer{
    position: relative;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tateti__movimientos{
    box-shadow: -3px 5px 10px var(--colorSecundario);
    border-radius: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: var(--colorPrincipal);
    font-family: 'Quicksand';
    font-weight: 400;
    color: var(--colorSecundario);
    
}

.tateti__reproductor-de-musica iframe{
    transform: rotate(90deg) scale(0.6);
    bottom: 0;
    right: 0;
}

/* Media Queries */

@media screen and (orientation: landscape) {
    .tateti__main h1{
        margin-bottom: 1%;
        margin-top: 8%;
    }
    .tateti__section-2{
        margin-top: 1%;
    }
}